.row
  .span12
    %h3 Simulating Location

    %p
      Being that contestants cannot leave the room during the contest, here are some helpful links on how to simulate location for the various platforms.

    %h3 iOS
    %a{href: 'http://stackoverflow.com/a/12642281'}http://stackoverflow.com/a/12642281

    %h3 Android
    %a{href:'http://developer.android.com/guide/topics/location/strategies.html#MockData'}http://developer.android.com/guide/topics/location/strategies.html#MockData

    %h3 Windows Phone
    %a{href:'http://msdn.microsoft.com/en-us/library/windowsphone/develop/hh202933(v=vs.92).aspx'}http://msdn.microsoft.com/en-us/library/windowsphone/develop/hh202933(v=vs.92).aspx
